

/* Bag content */
    
.right .right{
    position: relative;
}

.circle_bag{
    position: absolute;
    bottom: 0.5rem;
    left: 0.9rem;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    color: white;
}

body {
    margin: 0;
    padding: 0;
  }
  .wrapper {
    height: 90vh;
    max-width: 50vh;
    display: grid;
    grid-template-columns: 30% 70%;
    overflow: hidden;
    margin: 40px;
  }
  
  .sidebar_container {
    height: 100%;
    background-color: rgb(250, 207, 213);
    padding: 30px;
    position: relative;
    z-index: 30;
  }
  
  