body {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}

.bannerDiv {
  background-image: url(./assets/images/conception-bureau-futuriste.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -150px;
}